1_random_dump/cloudflare_vision.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        80
      ],
      "id": "38ad09c4-6833-42fd-951a-5446f1435fdb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YpQCPd6XhrsYq1tm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        80
      ],
      "id": "b6029324-c6e6-4e5c-bb06-56f422f82a1c",
      "name": "Get a message",
      "webhookId": "14036e29-6db1-4c98-b295-1bfeed496b17",
      "credentials": {
        "gmailOAuth2": {
          "id": "YpQCPd6XhrsYq1tm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudflare.com/client/v4/accounts/b91c4812d3e9e996df4b3178a6c5ee81/ai/run/@cf/meta/llama-3.2-11b-vision-instruct",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xxxxx"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "You are an expert document and image analysis assistant.\n\nAnalyze the provided image carefully. The image may contain invoices, receipts, forms, handwritten notes, screenshots, identity documents, business cards, product labels, or any other visual content.\n\nYour task is to extract and summarize the information and extract maximum possible information.\n\nIf it contains text . You are required to output every text possible.\n\nText can be in any language English , Hindi , Chinese . You have to extract in any language possible same as the language of image."
            },
            {
              "name": "image",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1664,
        96
      ],
      "id": "0f2d3b5e-b270-4e59-9e88-8ce968c84b27",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "attachment_1",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1440,
        96
      ],
      "id": "094108ec-78f9-4640-b796-e62cc16066fb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.html || $json.textHtml || $json.body || \"\";\n\nconst regex = /<img[^>]+(?:src|data-src|data-original)=[\"']([^\"']+)[\"']/gi;\n\nconst items = [];\nconst seen = new Set();\nlet match;\n\nwhile ((match = regex.exec(html)) !== null && items.length < 5) {\n  const src = match[1].trim();\n\n  // Skip duplicates\n  if (seen.has(src)) continue;\n  seen.add(src);\n\n  let type = \"unknown\";\n\n  if (src.startsWith(\"data:image\")) {\n    type = \"base64\";\n  } else if (src.startsWith(\"cid:\")) {\n    type = \"cid\";\n  } else if (/^https?:\\/\\//i.test(src)) {\n    type = \"url\";\n  }\n\n  items.push({\n    json: {\n      imageNumber: items.length + 1,\n      imageType: type,\n      imageSource: src\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        80
      ],
      "id": "bd8cdf16-9e2c-438a-8765-a3e89757e135",
      "name": "Extract Images Links"
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        112
      ],
      "id": "536df435-e35a-4979-8cad-d321e86fcfa4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        80
      ],
      "id": "d7b8abe7-e2ad-412c-8f3a-924d0e91a341",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1216,
        320
      ],
      "id": "8bc9be6a-157b-41b4-8498-d7e133bf2bca"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebdd6309-3e9d-4218-b71c-cb03f67697f8",
              "leftValue": "={{ $json.imageType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        112
      ],
      "id": "75274700-6e74-439f-a33f-c53952810ac9",
      "name": "If"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Extract Images Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Images Links": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Gmail Trigger": [
      {
        "id": "19f09570afddf312",
        "threadId": "19f09570afddf312",
        "snippet": "Images",
        "payload": {
          "mimeType": "multipart/related"
        },
        "sizeEstimate": 447088,
        "historyId": "1655226",
        "internalDate": "1782568109000",
        "labels": [
          {
            "id": "INBOX",
            "name": "INBOX"
          },
          {
            "id": "IMPORTANT",
            "name": "IMPORTANT"
          },
          {
            "id": "CATEGORY_PERSONAL",
            "name": "CATEGORY_PERSONAL"
          },
          {
            "id": "UNREAD",
            "name": "UNREAD"
          }
        ],
        "From": "Sahil Kumar <connect.bui2@gmail.com>",
        "Subject": "Images",
        "To": "\"striversahil@gmail.com\" <striversahil@gmail.com>"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "392d555a8dc3f2c379cf76770c6df0e0f0e97b5f5ef28d8635adfda1b065e3fc"
  }
}